@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #041C3F;
}

/* ===== SOBRE SEÇÃO ===== */
#sobre {
  background-color: #041C3F;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#titulo1 {
  font-size: 85px;
  color: white;
  font-weight: bold;
  max-width: 547px;
}

#imagem-lateral {
  max-width: 517px;
  display: flex;
  align-items: flex-end;
}


/* MISSÃO // VISÃO // VALORES // HISTÓRIA */
#caixas-de-texto {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* PRIMEIRA E TERCEIRA CAIXA */
.missao-e-valores {
  background-color: #023982;
  display: flex;
  flex-direction: row;
  color: white;
  max-width: 1000px;
}

.titulo-missao-e-valores {
  font-size: 30px;
  margin: 0;
}

.subtitulo-missao-e-valores {
  font-size: 20px;
  margin: 0;
}

.texto-missao-valores {
  display: flex;
  flex-direction: column;
  padding: 43px 0px 43px 33px;
  max-width: 540px;
}

#img-ideia {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
}


/* SEGUNDA E QUARTA CAIXA */
.visao-historia {
  background-color: #DBD7D8;
  display: flex;
  flex-direction: row;
  max-width: 1000px;
}

.titulo-visao-historia {
  font-size: 30px;
  margin: 0;
  color: #023982;
}

.subtitulo-visao-historia {
  font-size: 20px;
  margin: 0;
  color: black;
  padding-left: 49px;

}

#img-visao {
  display: flex;
  width: 100%;
  padding: 13px 0px 0px 33px;
}

.texto-visao-historia {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: center;
  padding: 45px 84px 45px 0px;
}

#img-valores {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  padding-left: 100px;
}

#img-historia {
  display: flex;
  justify-content: flex-end;
  padding: 56px 0px 0px 33px;
}

/* TITULO DEPOIMENTOS */
#depoimento {
  font-weight: bold;
  color: white;
  padding: 92px 0px 92px 0px;
  text-align: center;
}

#titulo-depoimento {
  font-size: 85px;
  margin: 0;
}

#subtitulo-depoimento {
  font-size: 22px;
  margin: 0;
}

#comentario {
  background-color: #DBD7D8;
  display: flex;
  flex-direction: row;
  font-family: "ADLaM Display", system-ui;
}

#img-usuario {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 108px;
}

#avaliação {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  padding-left: 200px;
}

#fala-autor {
  font-size: 32px;
  margin: 0;
}

ul#autor {
  font-size: 22px;
  margin: 0;
}

/* ANIMAÇÕES */
@keyframes expandir2 {
  0% { transform: scale(1); }
  100% { transform: scale(1.02); }
}

.animacao1:hover, .animacao2:hover, .animacao3:hover, .animacao4:hover {
  animation-name: expandir2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}